# --- Core Data Science & Image Processing ---
pandas==2.0.3
opencv-python
scikit-image==0.21.0
pillow

# --- Machine Learning & AI Models ---
numpy==1.26.4
scikit-learn
xgboost
optuna

# --- Data Visualization (Training/Reasearch) ---
matplotlib
seaborn

# --- Web/API Demo ---
gradio
joblib
flask
flask-cors
locust==2.44.4
